# OS / editor
.DS_Store
*.swp
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venvs/

# Smalltalk / Pharo
*.image
*.changes
pharo-vm/
tmp/

# Pharo / Smalltalk
lang/smalltalk/images/
lang/smalltalk/play-cache/
*.ombu
*.sources

# IDE / caches
**/.cache/

# backups
*.bak
*.backup_*
*.backup

# generated site
# docs/log/*.html        # публикуем сайт напрямую
# docs/log/comments/     # публикуем комментарии агента
# flutter build
lang/flutter/quiet_logos/build/

# secrets
.env
